{%extends 'base.html'%}

{% block title %}
    Home  
{% endblock  %}
{% block nav-btn %}
    <a href="/login" class="btn btn-outline-info border-light btn-sm" id="btn-nav">Login</a>
{% endblock nav-btn %}
{%block content%}
    <style>
        body{
            background-image: url("/static/img/bg.jpg");
            background-position: 0px;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    
    

{% endblock %}